*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25;}
ul{list-style: none;}

button{ 
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(36, 0, 0, 0.5);
    color: white;
    background-color: rgb(70, 30, 216);
}

button:hover{
    background-color: rgb(70, 30, 216, 0.8);
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{
    color: rgb(70, 30, 216);
}

header{
    background-color: rgb(255, 200, 0);
    color: white;
    text-align: center;
    font-weight: bold;
}

header .logo{
    font-size: 2em;
    margin-bottom: 10px;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: 
    center;
}

header nav{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

header a:hover{
    color: rgb(70, 30, 216);
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 60vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/IA.jpg");
}

#hero h1{
    color: white;
    font-size: 3em;
    margin-bottom: 20px;
}

#hero h2{
    color: white;
    font-size: 1em;
    margin-top: 0;
}

#ts .container{
    background-color: rgb(255, 244, 206);
    text-align: center;
    padding: 200px, 12px;
}

@media (min-width: 768px){
    header{
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-right: 20px;
        padding-bottom: 0;
    }

    #hero h1{
        font-size: 5em;
    }

    #hero h2{
        font-size: 1.5em;
    }

    #ts .container{
        background-color: rgb(255, 244, 206);
        display: flex;
        justify-content: center;
    }
    #ts .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    #ts .h2{
        margin-top: 0px;
    }

    #ts .img-container{
        background-image: url(media/semestre.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 150px;
        width: 150px;
    }

}